<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TAcos weyyy </h1>
    <a href="/">Home Page</a>

    <form action="/tacos" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id=""><br>
        <label for="">Ingredients Separte with commas</label>
        <input type="text" name="ingredients"><br>
        <label for="tasty">Tasty?</label>
        <input type="checkbox" name="tasty"><br>
        <button type="submit">Add Taco</button>
    </form>

</body>
</html>